@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;500&family=Crimson+Pro:wght@200&family=IBM+Plex+Serif:wght@300&family=Josefin+Sans:ital,wght@0,100;1,500&family=Lobster&family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
    /*padding:0;
    margin:0;*/
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Crimson Pro', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Quicksand', sans-serif;
}

.navbar-brand{
    font-weight: 800;
}
#yellow {
    color:#fd5c34;
}
#ml{
    margin-left: 5px;
    color: #d60400;
}

.box
{
    height:200px;
    background:#f4f8fd;
    margin:10px;
    padding:3px;
    box-shadow: 10px 15px 10px #000000;
    align-items: center;
    justify-content: center;
    background: linear-gradient(80deg, rgb(245, 242, 242), rgb(246, 207, 207));
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
    .box:hover
    {
        transform: scale(1.1,1.1);
    }
    .im>img 
    {
        background-size: contain;
        height:130px;
        position: relative;
        width: 100%;
        border-top-right-radius: 15px;
    }
    .im>img:hover
    {
        transform: scale(1.0,1.0);
    }

    ul{
        list-style-type: none;
    }
    .box a:hover{
        text-decoration:none;
        color:black;
    }
    .box a 
    {
        text-decoration:none;
        color:black;
    }
.db{
    width:60%;
    margin: auto;
    font-size: 26px;
    display:flex;
    height:80px;
    margin-top:50px;
    box-sizing: border-box;
    margin-left:22%;
    font-weight:900;
}
select{
    height:60px;
    width:35%;
    margin-right:5px;
    color:#000000;
    background:linear-gradient(55deg, rgb(248, 210, 210),rgb(246, 113, 113));
    border:1px solid white;
    padding-left:10px;
   
}
.rselect{
    height:60px;
    width:68%;
    color:#000000;
    border:1px solid white;
    padding-left:10px;
    background:linear-gradient(55deg, rgb(248, 210, 210),rgb(246, 113, 113));
}
select:hover,.rselect:hover{
    transform:scale(1.1,1.1);
    
}


select>option{
    color:black;
    background:linear-gradient(55deg, rgb(248, 210, 210),rgb(156, 156, 156));

}
.reselect>option{
    color:black;

}






.b1
{
    
    height:100vh;
    width:100%;
    border: 1px solid black;
    position:relative;
    background-image: url('../images/food1123.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    
}

ul{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
 #con1
 {
     min-height:500px;
    
 }
.logo
{
    text-align:center;
    
    margin-top:80px;
    font-size:80px;
    color:#d60400;
    font-weight: 900;
    animation: move 20s infinite;
}
.logo>h2{
    font-size:100px;
    
}

@keyframes move {
    0% {margin-left:0%}
    25% {margin-left:-10%}
    50% {margin-left:0%}
    75% {margin-left:10%}
    100% {margin-left:0%}
    
}
.subheading
{
    text-align:center;
    position:relative;
    margin-top:25px;
    letter-spacing: 2px;
    color:rgba(51, 2, 73, 0.87);
}





.b2
{
  
   position: relative;
   min-height:100vh;
   
   
   background-image: url('../images/23.jpg');
   background-attachment: fixed;
   background-size: cover;
}

ul li
{
    list-style-type: none;
}



.content>h3
{
    color:#383775;
    font-size:19px;
    font-weight: 800;

}

.content>p
{
    color:#586104;
    font-size:14px;
}
.mh
{
    font-size:13px;
    padding-top:12px;
    font-weight:800;
}
.mh>h3
{
padding-left:98px;
margin-top:-12px;
color:#694567;

}
    .mh>h4
    {
        font-size:20px;
        padding-left:100px;
        color:#383775;;
        margin-top:-13px;
    }
/*.content>p
{
    font-size: 12px;
}*/
@media only screen and (max-width:400px){
    .db{
        width:80%;
        margin: auto;
        height:110px;
        margin-top:50px;
        box-sizing: border-box;
        align-items: center;
        justify-content:center;
        
    }
    select{
        height:70px;
        width:100%;
        color:#000000;
        background:linear-gradient(55deg, rgb(248, 210, 210),rgb(246, 113, 113));
        border:1px solid white;
        padding-left:10px;
        
    }
    .rselect{
        height:70px;
        width:100%;
        color:#000000;
        border:1px solid white;
        padding-left:10px;
        float:bottom;
        background:linear-gradient(55deg, rgb(248, 210, 210),rgb(246, 113, 113));
    }
    .box
{
height:200px;
background:#f4f8fd;
margin:10px;
padding:3px;
box-shadow: 10px 15px 10px #000000;
align-items: center;
justify-content: center;
background: linear-gradient(80deg, rgb(245, 242, 242), rgb(246, 207, 207));
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;


}
.im>img 
{
background-size: contain;
height:120px;
position: relative;
width: 100%;
border-top-right-radius: 15px;
}
.mh
{
    font-size:20px;
    padding-top:12px;
    font-weight:800;
}
.mh>h3 {
    padding-left: 25px;
    margin-top: 6px;
    color: #694567;
}
.mh>h4 {
    font-size: 20px;
    padding-left: 23px;
    color: #383775;
    margin-top: -23px;
}

}

/*.snap
{
    overflow: auto;
    scroll-snap-type: y ;
    height:100vh;
    
}
.section
{
    scroll-snap-align: center;
    
}*/

.foo{
    color:black;
}


/*coupon*/

#coupon
{
    width: 55%;
    margin:auto;
    min-height:300px;
    position: absolute;
    border-radius:20px;
    display:flex;
    margin-left: 20%;
    margin-top:10%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../images/2233.jpg');
    box-shadow:10px 10px 10px rgb(0, 0, 0);
    color:white;
    z-index: 999;
    
}

.img1{
    width:100%;
    height:220px;
    margin-top:28%;
     
    
}
.left
{
    float:left;
    width:50%;
    background: linear-gradient(12deg, rgba(26, 12, 12), rgba(255, 255, 255));
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
     
}
.right
{
    float:right;
    width:80%;
    padding:15px;
    font-size:25px;
    font-weight:800;
    line-height: 40px;
     
    
  
}
#close
{
    
    border:2px solid rgb(21, 18, 24);
    float:right;
    font-size:40px;
    color:white;
    background:none;
    border:none;
    font-weight: 800;
    cursor:pointer;
     
}
#close:hover
{
    border:none;
     
}
.red{
    color:rgb(255, 238, 0);
}
.btns
{
    float:right;
    
    margin-top:10px ;
    
   
}
.bb22
{
    color:rgb(224, 255, 112);
    background:none;
    border: 20px 20px 20px rgba(0,0,0,0.5),
            -1px -1px -1px white;
    font-size:20px;
    font-weight:800;
    letter-spacing: 2px;
    padding:2px;
    margin-right:20px;
    

}
.small
{
    font-size: 20px;
}
.bb22:hover
{
    
   transform:scale(1.1,1.1);
   border: 20px 20px 20px white,
   -1px -1px -1px  rgba(0,0,0,0.5);
   cursor:pointer;
}

@media only screen and (max-width:400px){
    #coupon
{
    width: 100%;
    margin:auto;
    min-height:300px;
    position: absolute;
    border-radius:20px;
    display:flex;
    margin-left: 5%;
    margin-top:5%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../images/2233.jpg');
    box-shadow:10px 10px 10px rgb(0, 0, 0);
    color:white;
    z-index: 999;
}

s

}
@media only screen and (max-width:650px){
    #coupon
{
    width: 80%;
    margin:auto;
    min-height:300px;
    position: absolute;
    border-radius:20px;
    display:flex;
    margin-left: 10%;
    margin-top:5%;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../images/2233.jpg');
    box-shadow:10px 10px 10px rgb(0, 0, 0);
    color:white;
    z-index: 999;
}




}

